@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.info-banner{
    background-image: url(../imagens/imagens-mob/info-banner.png);
    width: 100vw;
    height: 270px;
    background-size: cover;
    background-position: center center;
}

.perguntas-frequentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 24px;
}

.perguntas-frequentes > h1{
    font-size: 2.2rem;
    text-align: center;
    line-height: 41.6px;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    margin-bottom: 41px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pergunta{
    display: flex;
    background: #4650BD;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    width: 312px;
}

.pergunta h1, .uil-angle-down{
    padding: 16px;
}

.pergunta i{
    font-size: 1.5rem;
}

.resposta{
    line-height: 40px;
    background: #C8DEEF;
    margin-bottom: 20px;
    opacity: 1;
    padding: 0 16px;
    max-height: 280px;
    transition: .5s;
    width: 312px;
}

.resposta p{
    color: #444444;
    font-size: 1.25rem;
}

.hide {
    max-height: 0;
    pointer-events: none;
    opacity: 0;
  }

  @media (min-width: 768px) {
    main{
        margin-top: 154.2px;
    }

    main .info-banner{
        background-image: url(../imagens/imagens-tab/baninfo-tab.png);
        height: 384px;
    }

    .resposta,
    .pergunta{
        width: 648px;
    }
}

@media (min-width: 1440px) {

    main {
        margin-top: 99.6px;
    }

    main .info-banner{
        background-image: url(../imagens/imagens-pc/baninfo-pc.png);
        height: 407px;
    }

    .resposta,
    .pergunta{
        width: 996px;
    }
}