@charset "UTF-8";

.banner-mapa{
    background-image: url(../imagens/imagens-mob/setores-mapa.png);
    width: 100vw;
    height: 270px;
    background-size: cover;
    background-position: center center;
}

.setores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.box-legenda h1{
    font-size: 2rem;
    margin-bottom: 30px;
}

.retangulo{
    display: inline-block;
    height: 32px;
    width:  32px;
}

.setores ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.setores li{
    display: flex;
    align-items: center;
    gap: 15px;
}

.ret1{
    background-color: #0E7DF1;
}

.ret2{
    background-color: #FE016E;
}

.ret3{
    background-color: #01A89E;
}

.ret4{
    background-color: #3F51B5;    
}

.ret5{
    background-color: #0E7DF1;
}

.mais-detalhes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
    gap: 32px;
    text-align: center;
}

.mais-detalhes h1{
    font-size: 2rem;
}

.box-detalhes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 648px;
    font-size: 1.25rem;
    line-height: 40px;
}

@media (min-width: 768px) {
    main{
        margin-top: 154.2px;
    }

    main .banner-mapa{
        background-image: url(../imagens/imagens-tab/banmapa-tb.png);
        height: 384px;
    }
}

@media (min-width: 1440px) {

    main {
        margin-top: 99.6px;
    }

    main .banner-mapa{
        background-image: url(../imagens/imagens-pc/banmap-pc.png);
        height: 407px;
    }

    .setores{
        flex-direction: row;
        gap: 48px;
    }

    .titulo-mdetalhes{
        text-align: center;
    }

    .box-detalhes{
        width: 383px;
        height: 600px;
        justify-content: start;
    }

    .box-personalizado{
        display: flex;
        justify-content: end;
    }

    .mais-detalhes{
        flex-direction: row;
    }
}